*{
    background-color: #a6ddf7;
}
.top-nav {
    display: flex;
    flex-direction: row;
    height: 25px;
    height: 62px;
    box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}
.end-nav { 
    flex-basis: 27%;
    display: flex;
    flex-direction: row;
    margin: 0; 
}
.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}